<% content_for :header_tags do%>
  <%= stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_history_tabs) %>
<%end%>

<% reply_links = authorize_for('issues', 'edit') -%>
<% tabs = [
	{:label => :label_history_tab_all, :name => 'history_all'}, 
	{:label => :label_history_tab_activity, :name => 'history_activity'},
	{:label => :label_history_tab_comments, :name => 'history_comments'},
	{:label => :label_history_tab_private, :name => 'history_private'},
	{:label => :label_history_tab_time, :name => 'tabtime_time'},
	] %> 
<% selected_tab = params[:tab] ? params[:tab].to_s : 'history_all' %> 

<div class="tabs">
<ul>
<% tabs.each do |tab| -%>
    <li><%= link_to l(tab[:label]), { :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class => ((tab[:name] != selected_tab ? 'tab-history' : 'tab-history selected')),
                                    :onclick => "return false;"%></li>
<% end -%>
</ul>
</div>
 
<% reply_links = authorize_for('issues', 'edit') -%>
<% for journal in journals %>

  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <h4><%= link_to "##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => "journal-link" %>
    <%= avatar(journal.user, :size => "24") %>
    <%= content_tag('a', '', :name => "note-#{journal.indice}")%>
    <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></h4>

    <% if journal.details.any? %>
    <ul class="details">
      <% details_to_strings(journal.details).each do |string| %>
       <li><%= string %></li>
      <% end %>
    </ul>
    <% end %>
    <%= render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank? %>
  </div>
  
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>  

<% end %>
<% if User.current.allowed_to?(:view_time_entries, @project) %>
	
    <% @issue.time_entries.each do |timelog|%>
    	<div id="time-<%= timelog.id %>" class="journal has-time">
		    <h4><%= link_to "##{timelog.id}", {:anchor => "note-#{timelog.id}"}, :class => "journal-link" %>
		    <%= avatar(timelog.user, :size => "24") %>
		    <%= content_tag('a', '', :name => "note-#{timelog.id}")%>
		    <%= authoring timelog.created_on, timelog.user, :label => :label_history_time_logged_by %></h4>
			<ul class="details">
		    <li><strong><%= l :label_history_time_spent%>:</strong> <%= html_hours("%.2f" % timelog.hours) %> <%= l :label_history_time_hours_on%> <%= h timelog.activity%></li>
			<% if timelog.comments.any?%> 
				<blockquote>
					<p>
						<%= timelog.comments %>
					</p>
				</blockquote>
				</li>
		    <% end %>
		    </ul>
	  </div>
    <% end %>
  <% end %>
<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>

